*{
    margin: 0;
    section{
        padding: 100px 0;
    }
    cursor: url('../img/cursor16.ico'), auto;
    letter-spacing: 1.5px;
    font-family: '微軟正黑體';
    position: relative;
    a{
        
    }
}

h1 { font-size: 48px; }
h2 { font-size: 28px; margin-bottom: 20px; }
h3 { font-size: 24px; }

button{
    border: 1px solid #334155;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #ffffff;
    color: #334155;
    transition: background-color .3s;
    &:hover{
        background-color: #334155;
        color: #ffffff;
    }
}

.container {
    max-width: 1024px;
    width: 90%;
    position: relative;
    margin: 0 auto;
}

header{
    nav{
        display: flex;
        align-items: center;
        position: fixed;
        background-color: #334155;
        max-width: 1200px;
        width: 90%;
        border: 0;
        border-radius: 50px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
        padding: 8px 0;
        z-index: 1;
        box-shadow: 0 0 5px #ffffff;
        a{
            margin-left: 80px;
            img{
                width: 32px;
            }
        }   
        ul{
            display: flex;
            margin-left: 20px;
            li{
                list-style: none;
                padding: 0 10px;
                color: #ffffff;
            }   
        }
    }
}

footer{
    background-color: #334155;
    padding: 20px;
    div{
        display: flex;
        img{
            width: 10%;
        }
    }
    small{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        color: #ffffff;
    }
}