@import '_base';

header {
    .banner {
        padding: 120px 0 50px;
        border-bottom: 1px solid #3341554a;
        .banner_img{
            img{
                left: 50%;
                transform: translateX(-50%);
                width: 600px;
            }
        }
    }
}

main {
    .works {
        .work-labels {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: flex-start;
            align-content: flex-start;
        }
        .work-cards {
            margin-top: 48px;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .card {
                border: 3px solid #334155;
                background: #fff;
                display: flex;
                &>img {
                    width: 40%;
                    max-width: 450px;
                    min-width: 300px;
                }
                .info {
                    padding: 2rem calc(120px + 1rem) 2rem 4rem;
                    flex-grow: 1;
                    .tools {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        .tool {
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            img {
                                width: 18px;
                            }
                        }
                    }
                }
                .work-type-tag {
                    width: 120px;
                    padding: .5rem 0;
                    text-align: center;
                    background: #10b981;
                    color: #fff;
                    position: absolute;
                    top: 2rem;
                    right: 0;
                    box-shadow: -5px 5px 5px #ccc;
                }
                .author {
                    text-align: right;
                    position: absolute;
                    bottom: 1rem;
                    right: 1rem;
                }
            }
        }
    }
}


@media  (max-width: 767px) {

    main {
        .works {
            .work-cards {
                .card {
                    flex-direction: column;
                    &>img {
                        width: 100%;
                        max-width: none;
                        min-width: none;
                    }
                }
            }
        }
    }

}